/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]


    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SAMTOOLS_FAIDX' {
        ext.when = { !params.fasta_fai }
        publishDir = [
            path: { "${params.outdir}/ref" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'GATK4_CREATESEQUENCEDICTIONARY' {
        ext.when = { !params.fasta_dict }
        publishDir = [
            path: { "${params.outdir}/ref" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'BWA_INDEX' {
        ext.when = { !params.bwa_index }
        publishDir = [
            path: { "${params.outdir}/ref" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CHUNK_GENOME' {
        publishDir = [
            path: { "${params.outdir}/ref" },
            mode: params.publish_dir_mode,
            saveAs: { null }
        ]
    }

    withName: 'FASTP' {
        publishDir = [
            path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> (filename.endsWith('.gz') || filename.equals('versions.yml')) ? null : filename }
        ]
    }

    withName: 'SEQKIT_SPLIT2' {
        ext.args = [
            "--by-size ${params.split_fastq}",
            "--extension .gz"
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
            mode: params.publish_dir_mode,
            saveAs: { null }
        ]
    }

    withName: 'BWA_MEM' {
        ext.args   = { "-K 100000000 -Y" }
        ext.prefix = { "${meta.id}_${meta.split}" }
        publishDir = [
            path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
            mode: params.publish_dir_mode,
            saveAs: { null }
        ]
    }

    withName: 'SAMTOOLS_MERGE_SPLITS' {
        publishDir = [
            path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
            mode: params.publish_dir_mode,
            saveAs: { null }
        ]
    }

    withName: 'GATK4_ADDORREPLACEREADGROUPS' {
        ext.args   = { "--RGID ${meta.id} --RGLB ${meta.sample} --RGPL ILLUMINA --RGPU ${meta.id} --RGSM ${meta.sample}" }
        ext.prefix = { "${meta.id}.addrg" }
        publishDir = [
            path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
            mode: params.publish_dir_mode,
            saveAs: { null }
        ]
    }

    withName: 'BIOBAMBAM_BAMSORMADUP' {
        publishDir = [
            path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> (filename.endsWith('.bam') || filename.equals('versions.yml')) ? null : filename }
        ]
    }

    withName: 'MOSDEPTH' {
        publishDir = [
            path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> (filename.endsWith('.bed.gz') || filename.endsWith('.bed.gz.csi') || filename.equals('versions.yml')) ? null : filename }
        ]
    }

    withName: 'GATK4_HAPLOTYPECALLER' {
        ext.args  = { "-ERC GVCF" }
        ext.prefix  = { "${meta.id}.${meta.order}" }
        publishDir = [
            path: { "${params.outdir}/gatk" },
            mode: params.publish_dir_mode,
            saveAs: { null }
        ]
    }

    withName: 'IANSEALY_ZFVARCALL:ZFVARCALL:BAM_GATK4_HAPLOTYPECALLER_STATS:BCFTOOLS_CONCAT' {
        ext.args  = { "--write-index=tbi" }
        publishDir = [
            path: { "${params.outdir}/gatk" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename.replace('.vcf', '.gatk.vcf') }
        ]
    }

    withName: 'IANSEALY_ZFVARCALL:ZFVARCALL:BAM_GATK4_HAPLOTYPECALLER_STATS:BCFTOOLS_STATS' {
        publishDir = [
            path: { "${params.outdir}/gatk" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename.replace('.bcftools_stats', '.gatk.bcftools_stats') }
        ]
    }

    withName: 'FREEBAYES' {
        ext.args  = { "--gvcf" }
        ext.prefix  = { "${meta.id}.${meta.order}" }
        publishDir = [
            path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
            mode: params.publish_dir_mode,
            saveAs: { null }
        ]
    }

    withName: 'BCFTOOLS_SORT' {
        ext.prefix  = { "${meta.id}.${meta.order}.sorted" }
        publishDir = [
            path: { "${params.outdir}/freebayes" },
            mode: params.publish_dir_mode,
            saveAs: { null }
        ]
    }

    withName: 'IANSEALY_ZFVARCALL:ZFVARCALL:BAM_FREEBAYES_SORT_INDEX_STATS:BCFTOOLS_CONCAT' {
        ext.args  = { "--write-index=tbi" }
        publishDir = [
            path: { "${params.outdir}/freebayes" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename.replace('.vcf', '.freebayes.vcf') }
        ]
    }

    withName: 'IANSEALY_ZFVARCALL:ZFVARCALL:BAM_FREEBAYES_SORT_INDEX_STATS:BCFTOOLS_STATS' {
        publishDir = [
            path: { "${params.outdir}/freebayes" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename.replace('.bcftools_stats', '.freebayes.bcftools_stats') }
        ]
    }

    withName: 'BCFTOOLS_MPILEUP' {
        ext.args  = { '--gvcf 0,1,2,3,4,5,6,7,8,9,10,15,20,25,30,40,50,60,70,80,90,100' }
        ext.args2  = { '--multiallelic-caller --keep-unseen-allele --gvcf 0,1,2,3,4,5,6,7,8,9,10,15,20,25,30,40,50,60,70,80,90,100' }
        ext.prefix = { "${meta.id}.${meta.order}" }
        publishDir = [
            path: { "${params.outdir}/bcftools" },
            mode: params.publish_dir_mode,
            saveAs: { null }
        ]
    }

    withName: 'IANSEALY_ZFVARCALL:ZFVARCALL:BAM_BCFTOOLS_MPILEUP_STATS:BCFTOOLS_CONCAT' {
        ext.args  = { "--write-index=tbi" }
        publishDir = [
            path: { "${params.outdir}/bcftools" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename.replace('.vcf', '.bcftools.vcf') }
        ]
    }

    withName: 'IANSEALY_ZFVARCALL:ZFVARCALL:BAM_BCFTOOLS_MPILEUP_STATS:BCFTOOLS_STATS' {
        publishDir = [
            path: { "${params.outdir}/bcftools" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename.replace('.bcftools_stats', '.bcftools.bcftools_stats') }
        ]
    }

}
